numpy
qiskit>=1.0,<2
qiskit_ibm_runtime
qiskit-aer
graphix @ git+https://github.com/TeamGraphix/graphix@master
# The following contraints on `pydantic-core` and `symengine` are required for
# Python 3.14
pydantic-core>=2.41.5
symengine>=0.14
